{% extends "master.html" %}

{% block content %}
    <br><br>
    <h1>Update {{ author.first_name }} {{ author.last_name }}</h1>
    <form method="POST" action="{% url 'author_update' author_id=author.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="first_name">FirstName: </label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter Firstname.." value="{{ author.first_name }}">
            {% if errors.first_name %}
                <span class="text-danger">{{ errors.first_name }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="last_name">Lastname: </label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Lastname.." value="{{ author.last_name }}">
        </div>
        <div class="form-group">
            <label for="age">Age: </label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Enter age.." value="{{ author.age }}">
            {% if errors.age %}
                <span class="text-danger">{{ errors.age }}</span>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">update Author</button>
    </form>
{% endblock %}